<!-- Bottom Navigation-->

<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="display-10 navbar-text">&copy; 2021. Copyright All Rights Reserved.</div>
    </nav>
    </footer>