<%- include ../partials/header.ejs%>


<!-- Content for the Answer Survey Page-->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
        <h1><%= title %></h1>

        <table class="table table-bordered table-striped table-hover">
            <tr>
            <label for="nameTextField">Survey Name:</label>
            <br>
            <label for="q1TextField">Question 1:</label>
            <br>
            <label for="q2TextField">Question 2:</label>
            <br>
            <label for="q3TextField">Question 3:</label>
            </tr>
        
            <tr>
            <label for="nameTextField">Respondent Name:</label>
            <br>
            <label for="a1TextField">Answer 1:</label>
            <br>
            <label for="a2TextField">Answer 2:</label>
            <br>
            <label for="a3TextField">Answer 3:</label>
            </tr>
        </table>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs%>
<%- include ../partials/footer.ejs%>